<html>
    <head>
        <link rel = "stylesheet" type = text/css href= "{{ url_for('static',filename='styles/mainpage.css') }}">
      {% if title %}
      <title>{{ title }} - Aqueduct</title>
      {% else %}
      <title>Welcome to Aqueduct Data Portal</title>
      {% endif %}


    </head>
    <body>
        <div>Aqueduct:<br>
            <a href="{{ url_for('index')}}"> Home </a><br>
            <a href="{{ url_for('login')}}"> Login </a><br>
            <a href="{{ url_for('test')}}"> Test </a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>

